<?xml version="1.0"?>

<launch>
  <arg name="paused" default="false"/>
  <arg name="use_sim_time" default="true"/>
  <arg name="gui" default="true"/>
  <arg name="headless" default="true"/>
  <arg name="debug" default="false"/>


  <!-- We resume the logic in empty_world.launch, changing only the name of the world to be launched -->
  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="world_name" value="$(find gemulator)/worlds/sensorFusion.world"/>
    <arg name="debug" value="$(arg debug)" />
    <arg name="gui" value="$(arg gui)" />
    <arg name="paused" value="false"/>
    <arg name="use_sim_time" value="$(arg use_sim_time)"/>
    <arg name="headless" value="$(arg headless)"/>
    <arg name="verbose" value="true"/>
  </include>



    <!-- Spawn the example robot -->
    <arg name="gpu" default="true"/>
    <param name="robot_description" command="$(find xacro)/xacro --inorder '$(find gemulator)/urdf/polaris.urdf.xacro' gpu:=$(arg gpu)" />
    <node pkg="gazebo_ros" type="spawn_model" name="spawn_model" args="-urdf -param robot_description -x 2 -y -10 -z 1 -R 0 -P 0 -Y 1.57 -model polaris_ranger_ev"/>
    <node pkg="robot_state_publisher" type="robot_state_publisher" name="robot_state_publisher">
      <param name="publish_frequency" type="double" value="30.0" />
    </node>
     <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" ></node>


     <arg name="robot_name" default="marker"/>
     <arg name="sdf_file" default="$(find gemulator)/models/marker/model.sdf" />

     <node name="$(arg robot_name)_spawn_sdf" pkg="gazebo_ros" type="spawn_model" respawn="false" output="screen"
       args="-file $(arg sdf_file) -sdf -x 2 -y -10 -z 0 -model $(arg robot_name)" />



    <!-- RViz -->
    <arg name="rviz" default="true"/>
    <node if="$(arg rviz)" pkg="rviz" type="rviz" name="$(anon rviz)" respawn="false" output="screen" args="-d $(find gemulator)/rviz/sensorFusion.rviz" />



</launch>
